*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,red,gold);
}

.container{
    position: relative;
    top: 50px;
}

.cup{
    position: relative;
    width: 280px;
    height: 290px;
    background: linear-gradient(to right,#f9f9f9,#d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    /* border-image: url(images/King_DD.png); */

}

.cup img{
    position: relative;
    top: 35%;
    left: 30%;
    height: 100px;
    width: 100px;
}

.top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,#f9f9f9,#d9d9d9);
    border-radius: 50%;
}

.circle{
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left,#f9f9f9,#d9d9d9);
    border-radius: 50%;
    overflow: hidden;
}

.coffee
{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65,#e28462);
    border-radius: 50%;
}

.handle
{
    position: absolute;
    right: -70px;
    top: 30px;
    width: 150px;
    height: 170px;
    border: 25px solid #d9d9d9;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(40deg);
}

.plate{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right,#f9f9f9,#d9d9d9);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0,0,0,0.5);

}

.plate::before
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left,#f9f9f9,#d9d9d9);

}

.plate::after
{
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.3)25%,transparent,transparent);
}

.vapour{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.vapour span{
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate
{
    0%
    {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%
    {
        opacity: 1;
    }
    50%
    {
        transform: translateY(-150px) scaleX(5);
    }
    100%
    {
        transform: translateY(-300px) scaleX(10);
    }
}