body{
    margin: 0;
    padding: 0;
    font-family: lato;
    font-size: 50px;
}

section{
    height: 100vh;
    background: black;
}

video{
    
    height: 100%;
    width: 100%;
    
}

h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    transform: traslateY(-50%);
    width:100%;
    text-align: center;
    color: white;
    letter-spacing: 0.2em;

}
h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px)
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

h1 span:nth-child(1){
    animation-delay: 5s;
}
h1 span:nth-child(2){
    animation-delay: 5.25s;
}
h1 span:nth-child(3){
    animation-delay: 5.5s;
}
h1 span:nth-child(4){
    animation-delay: 5.75s;
}
h1 span:nth-child(5){
    animation-delay: 6s;
}
h1 span:nth-child(6){
    animation-delay: 6.25s;
}
h1 span:nth-child(7){
    animation-delay: 6.5s;
}
h1 span:nth-child(8){
    animation-delay: 6.75s;
}
h1 span:nth-child(9){
    animation-delay: 7s;
}
