*{
    margin: 0;
    padding: 0;
    font-family: consolas;

}

body{
    background: #000;

}
/* not important */
section{
    padding: 100px;

}
section h2{
    font-size: 3.5em;
    color:#555
}

section p{
    font-size: 1.2em;
    color: #555;
}
/* not important end */

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#preogressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 50%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

#preogressbar:before,
#preogressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

#preogressbar:after
{
    filter: blur(30px);

}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

::-webkit-scrollbar
{
    width: 0;
}

/* not necessary */
#percent
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* transform: translateY(-50%) rotateX(180deg) rotateY(180deg); */
    right: 15px;
    color: #fff;
    font-size: 2em;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
/* not necessary End*/